/* Home.css */
.home-text-animation {
    animation: slideInLeft 1s ease forwards;
  }
  
  .home-image-animation {
    animation: slideInRight 1s ease forwards;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  